<div class="row">
    <div class="col">

            <div class="col-md-6">
                <h1 class="display-4">About Us</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet, tortor ut
                    convallis
                    iaculis, nisi nisl ultricies urna, vitae euismod nunc tellus eu nulla.</p>
                <p class="lead">We are a trusted platform dedicated to simplifying and enhancing the hiring process for
                    both vendors and clients.</p>
                <p class="lead">Crafted with an acute understanding of nuances of the hiring industry.</p>
            </div>

        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium, nisl in malesuada malesuada, nisi
            nibh
            aliquet
            massa, vitae aliquam sapien nisl ut nibh. Fusce euismod, ipsum vel bibendum ultrices, lectus felis
            fermentum
            nunc, eget faucibus enim tellus vel lacus.</p>
        
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nulla in urna consectetur,
                maximus
                velit
                egestas.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nulla in urna consectetur,
                maximus
                velit
                egestas.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nulla in urna consectetur,
                maximus
                velit
                egestas.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nulla in urna consectetur,
                maximus
                velit
                egestas.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nulla in urna consectetur,
                maximus
                velit
                egestas.</li>
            
        </ul>

    </div>
</div>


