<div class="row">
    <div class="col">

            <div class="col-md-6">
                <h1 class="display-4">About Us</h1>
                <p class="lead">We are a trusted platform dedicated to simplifying and enhancing the hiring process for
                    both vendors and clients.</p>
                <p class="lead">Crafted with an acute understanding of nuances of the hiring industry.</p>
            </div>

        <hr class="my-4">
        <p>Originating as a modest hire enterprise with a vision to innovate. Founded by an individual with a
            passion for software development. Our journey revealed challenges within the hiring ecosystem that could be
            addressed by creating a streamlined system.</p>
        <ul>
            <li>Clients seek seamless availability checks for products, eliminating the need for calls.</li>
            <li>Clients require a calendar view for easy scheduling of hiring.</li>
            <li>Vendors aspire to efficiently manage their hire establishments, maintaining a comprehensive
                log of inquiries and bookings.</li>
            <li>Vendors must provide clients with clear opening hours, along with minimum and maximum hire
                durations.</li>
            <li>Empowering vendors with tiered pricing options for precise control over hire duration
                pricing.</li>
        </ul>

    </div>
</div>

