<div class="container" [@fadeInOut]>
  <div class="col-md-6 centre ">
    <mat-card class="example-card">
      <form *ngIf="formResetToggle" class="" name="loginForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? login() :
                      (!username.valid && showErrorAlert('Username is required', 'Please enter a valid username'));
                      (!password.valid && showErrorAlert('Password is required', 'Please enter a valid password'))">
        <mat-card-header>


          <div mat-card-avatar class=""><i class="mat-card-avatar fa fa-lock large-icon" aria-hidden="true"></i></div>
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>We Hire It</mat-card-subtitle>




        </mat-card-header>
        <mat-card-content>


          <mat-form-field class="full-width-field">
            <input matInput type="text" id="login-username" name="username" placeholder="Enter username"
              autocomplete="username" [(ngModel)]="userLogin.userName" #username="ngModel" required />
            <mat-error *ngIf="f.submitted && !username.valid">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>


          <mat-form-field class="full-width-field">
            <input matInput type="password" id="login-password" name="password" placeholder="Enter password"
              autocomplete="current-password" [(ngModel)]="userLogin.password" #password="ngModel" required />
            <mat-error *ngIf="f.submitted && !password.valid">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>









        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col">
              <button mat-raised-button type="submit" color="primary" [disabled]="isLoading"><i *ngIf="isLoading"
                  class='fa fa-circle-o-notch fa-spin'></i>
                {{isLoading ? 'Logging in...' : 'Login'}}
              </button>
            </div>
            <div class="col">

            </div>
            <div class="col">
              <button mat-raised-button color="basic" [disabled]="isLoading" (click)="openregister()">
                Register
              </button>
            </div>


          </div>
          <br>
          <hr>
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>

            <div class="col">
              <button routerLink="/forgotpassword" mat-stroked-button color="accent">
                Forgot password?
              </button>
            </div>
          </div>


        </mat-card-actions>
        <hr>
        <div>
          <h2>External Providers</h2>
          <div style="padding: 20px;">
            <!-- <button class="btn btn-info" type="button" (click)="externalLogin()">Google</button> -->
          </div>
        </div>
        <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
      </form>
    </mat-card>
  </div>

</div>