<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-title>
                    <h1>Please enter your email address, once entered, hit submit and we will send you a reset link.</h1>
                </mat-card-title>
                <mat-card-content>

                    <div class="row ">

                        <div class="col">
                            <mat-form-field class="h3" style="width: 100%;">
                                <mat-label>Email</mat-label>

                                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. you@health.qld.gov.au"  >
                                <mat-error *ngIf="invalid(emailFormControl)">Please enter a valid email address</mat-error>
                                <mat-error *ngIf="required(emailFormControl)">Please enter your email</mat-error>
                                <button (click)=submit() matSuffix mat-raised-button [disabled]=!emailFormControl.valid>Submit</button>

                            </mat-form-field>
                        </div>

                    </div>


                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
