<div class="jumbotron">
  <h1 class="display-4">StarterApp with 3rd Party login</h1>
  <p class="lead">This is a distant cousin of <a href="https://github.com/emonney/QuickApp">QuickApp</a> by Eben Money.</p>
  <hr class="my-4">
  <p>It has alot stripped out but does implement 3rd party log ins which was missing from QuickApp.</p>
  <p>It also keeps the user management features.</p>
  <p>Check out the <a href="https://demoapp.tekonline.com.au">demo app</a> for a live run of this app.</p>
  <p>Pull requests welcome! <a href="https://github.com/jonmosco/StarterApp/pulls">checkout the pull requests</a> and <a href="https://github.com/jonmosco/StarterApp/issues">log an issue</a>.</p>
  
</div>
<div class="container">
  <h2>Ready to use</h2>
  <p>
    Just pull it down from git and run 
    <code>docker-compose -f docker-compose.dev.yml up</code>
  </p>
  <h2>Support</h2>
  <p>
    If you need any help, please reach out to me at <a href="mailto:jon@tekonline.com.au">jon@tekonline.com.au</a>, or head over to <a href="http://www.tekonline.com.au">www.tekonline.com.au</a>
  </p>
</div>



