<p>Hello {clientname},</p>
<p>This is an alert from We Hire It to let you know that your hire request to
    <strong>{vendorname}</strong> has been denied.
</p>

<table>
    <thead>
        <tr>
            <th>
                Item:
            </th>
            <td>{item}</td>

        </tr>
        <tr>
            <th>Price per hour:
            </th>
            <td>
                ${price}
            </td>
        </tr>
        <tr>
            <th>Start of hire:
            </th>
            <td>
                {startdate}
            </td>
        </tr>
        <tr>
            <th>End of hire:
            </th>
            <td>
                {enddate}
            </td>
        </tr>
        <tr>
            <th>
                Total Hours
            </th>
            <td>
                {hours}
            </td>
        </tr>
        <tr>
            <th>
                Total Price
            </th>
            <td>
                ${total}
            </td>
        </tr>
    </thead>
</table>


<a href="https://www.wehireit.com.au">We Hire It</a>

<p><br /></p>
<p>Regards,</p>
<p>We Hire It</p>