<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-title>
                    <h1>Please create your new password.</h1>
                </mat-card-title>
                <mat-card-content>

                    <div class="row ">


                        <div *ngIf="form" class="col">
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput formControlName="emailFormControl">

                                </mat-form-field>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput formControlName="passwordFormControl">
                                    <mat-error *ngIf="getPasswordFormControl?.hasError('noMatch')">Password must match!</mat-error>

                                    <mat-error *ngIf="getPasswordFormControl?.hasError('required')">Password is required</mat-error>
                                    <mat-error *ngIf="getPasswordFormControl?.hasError('minlength')">Password must be minimum {{passwordMinChars}} characters long</mat-error>
                                </mat-form-field>

                                <mat-form-field style="width: 100%;">
                                    <mat-label>Confirm Password</mat-label>
                                    <input type="password" matInput formControlName="passwordConfirmFormControl">
                                    <mat-error *ngIf="getPasswordConfirmFormControl?.hasError('noMatch')">Password must match!</mat-error>

                                    <mat-error *ngIf="getPasswordConfirmFormControl?.hasError('minlength')">Password must be minimum {{passwordMinChars}} characters long</mat-error>
                                    <mat-error *ngIf="getPasswordConfirmFormControl?.hasError('required')">Confirm password is required {{passwordMinChars}} characters long</mat-error>
                                </mat-form-field>

                                <mat-error *ngIf="form.hasError('noMatch')">Passwords must match</mat-error>


                                <mat-form-field hidden style="width: 100%;">
                                    <mat-label>Password</mat-label>
                                    <input type="text" matInput formControlName=tokenFromControl>
                                </mat-form-field>

                                <button type="submit"  matSuffix mat-raised-button [disabled]=!form.valid>
                                    <div class="row">
                                        <div class="col-6">
                                            Submit

                                        </div>
                                        <div class="col-6">
                                            <mat-progress-spinner *ngIf="loading===true" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
                                            <span *ngIf="success===true" class="material-icons">
                                                done
                                                </span>
                                                <span class="material-icons" *ngIf="success===false">
                                                    error
                                                    </span>
                                        </div>

                                    </div>


                                </button>
                            </form>


                        </div>

                    </div>


                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
